@font-face {
  font-family: Fredoka;
  src: url(./FredokaOne-Regular.ttf);
}
html {
  min-height: 100vh;
  background: linear-gradient(325deg, #6f00fc 0%, #fc7900 50%, #fcc700 100%) no-repeat;
}

body {
  font-family: Fredoka;
  overflow-y: hidden;
}

.preloader {
  position: absolute;
  inset: 0;
  z-index: 9999;
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: #ffffff;
}
.preloader .preloader__item {
  flex: 0 1 100%;
  background-color: #6f00fc;
}
.preloader .preloader__item:not(:last-child) {
  border-right: 1px solid red;
}
.preloader .preloader__text {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 500;
  font-size: 28px;
  pointer-events: none;
}

.container {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 992px) {
  .container {
    max-width: 400px;
  }
}

.game {
  padding: 0 15px;
}

.controls {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

button {
  background: #282A3A;
  color: #FFF;
  border-radius: 5px;
  padding: 10px 20px;
  border: 0;
  cursor: pointer;
  font-family: Fredoka;
  font-size: 18pt;
  opacity: 0;
  position: absolute;
  pointer-events: none;
}

.disabled {
  color: #757575;
}

.stats {
  color: #FFF;
  font-size: 14pt;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.board-container {
  position: relative;
}

.board,
.win {
  border-radius: 5px;
  box-shadow: 0 25px 50px rgba(33, 33, 33, 0.25);
  background: linear-gradient(135deg, #6f00fc 0%, #fc7900 50%, #fcc700 100%);
  transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.board {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 20px;
}
@media (max-width: 480px) {
  .board {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    grid-gap: 10px;
  }
}

.board-container.flipped .win {
  transform: rotateY(0) rotateZ(0);
}

.card {
  position: relative;
  max-width: 100px;
  height: 100px;
  cursor: pointer;
}
@media (max-width: 992px) {
  .card {
    max-height: 75px;
    max-width: 75px;
  }
}
@media (max-width: 480px) {
  .card {
    flex: 0 1 23%;
  }
}
@media (max-width: 420px) {
  .card {
    flex: 0 1 20%;
  }
}

.card-front,
.card-back {
  position: absolute;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  background: #282A3A;
  transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1), 0.3s ease background;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.card-front:hover,
.card-back:hover {
  background: #323549;
}

.card-back {
  transform: rotateY(180deg) rotateZ(50deg);
  font-size: 28pt;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: center;
  line-height: 100px;
  background: #FDF8E6;
}
.card-back:hover {
  background: #FDF8E6;
}
@media (max-width: 992px) {
  .card-back {
    line-height: 75px;
  }
}
@media (max-width: 480px) {
  .card-back {
    line-height: 75px;
    font-size: 24pt;
  }
}

.card.flipped .card-front {
  transform: rotateY(180deg) rotateZ(50deg);
}

.card.flipped .card-back {
  transform: rotateY(0) rotateZ(0);
}

.win {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  text-align: center;
  background: #FDF8E6;
  transform: rotateY(180deg) rotateZ(50deg);
}
@media (max-width: 767px) {
  .win {
    transform: rotateY(0deg) rotateZ(0deg);
    opacity: 0;
    pointer-events: none;
  }
}
.win.active {
  opacity: 1;
  pointer-events: all;
  transition: 0.3s ease all;
}

.win-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 21pt;
  color: #282A3A;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.highlight {
  color: #6f00fc;
}

.Rebooting {
  border: none;
  background-color: rgb(137, 139, 173);
  padding: 13px 29px;
  border-radius: 20px;
  color: white;
  text-shadow: rgba(0, 0, 0, 0.42) 0px 0px 20px;
  cursor: pointer;
  transition: 0.3s ease all;
}
.Rebooting:hover {
  background: #60628a;
  color: #d9d9d9;
}/*# sourceMappingURL=style.css.map */